body {
  margin: 0;
  padding: 0;
  font-family: "Poppins";
}

h1,
h4,
p,
a {
  margin: 0;
  padding: 0;
}

.strawHatTop {
  position: absolute;
  margin-top: -50px;
  height: 700px;
  z-index: 0;
}

.strawHatMid {
  position: absolute;
  margin-top: 1050px;
  right: 0;
  height: 900px;
}

/* NAVBAR */
nav {
  background-color: #1e1e1e;
  padding: 14px 128px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.nav-title {
  color: #fff;
  font-family: Poppins;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-decoration: none;
}

.nav-items {
  display: flex;
  flex-direction: row;
}

.nav-item {
  color: #fff;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  padding: 0 16px;
  text-decoration: none;
}

.nav-toggle-btn {
  background-color: transparent;
  border: none;
  padding: 0;
  margin: 0;
}
.nav-toggle-btn:hover {
  cursor: pointer;
}

.nav-toggle-icon {
  margin: auto;
  margin-left: 16px;
}

/* ABOUT PAGE */
.about {
  padding: 0 128px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.abt-hi {
  margin-top: 84px;
  color: #000;
  font-family: Poppins;
  font-size: 72px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.abt-wave {
  font-size: 48px;
}

.abt-me-tag {
  margin-top: 10px;
  color: #000;
  font-family: Poppins;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 36px; /* 150% */
}

.abt-me-content {
  margin-top: 24px;
  margin-bottom: 24px;
  margin-left: 94px;
  width: 728px;
  color: #000;
  font-family: Poppins;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 40px; /* 166.667% */
}

.abtImage {
  position: relative;
  left: 128px;
  height: 900px;
}

.homepage {
  padding-top: 35px;
  padding-left: 128px;
  padding-right: 128px;
}

.location {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.location-college,
.location-intern {
  display: flex;
  flex-direction: row;
  padding: 5px;
}

.location-college-icon,
.location-intern-icon {
  margin: auto;
  margin-left: 0;
  margin-right: 0;
}

.location-college-detail,
.location-intern-detail {
  color: #000;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  padding-left: 12px;
}

.hero-main {
  display: flex;
  flex: row;
  justify-content: space-between;
}

.heroImage {
  position: relative;
  margin-top: 32px;
  left: 128px;
  height: 800px;
}

.hero-title {
  margin-top: 180px;
}

.hero-title-name {
  color: #000;
  font-family: Poppins;
  font-size: 88px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.hero-title-name:hover {
  cursor: pointer;
}

.hero-title-by {
  color: #000;
  font-family: Poppins;
  font-size: 32px;
  font-style: normal;
  font-weight: 500;
  line-height: 64px; /* 200% */
}

.hero-btn {
  margin-top: 56px;
}

.abt-btn {
  width: 152px;
  height: 56px;
  flex-shrink: 0;

  border-radius: 5px;
  border: 2px solid #000;
  background: #000;

  color: #fff;
  font-family: Poppins;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 100%; /* 24px */
}

.cntc-btn {
  margin-left: 32px;

  width: 155px;
  height: 56px;
  flex-shrink: 0;

  border-radius: 5px;
  border: 2px solid #000;
  background: #fff;

  color: #000;
  font-family: Poppins;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 100%; /* 24px */
}

.social-link:hover {
  cursor: pointer;
}

.hero-links {
  margin-top: 48px;
}

.hero-link-item {
  margin-right: 18px;
}

.hero-link-item:hover {
  cursor: pointer;
}

.skills-title {
  margin-top: 180px;
  text-align: center;

  color: #000;
  font-family: Poppins;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.skills-list-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 64px;
  margin-left: 128px;
}

.skill-list-name {
  color: #000;
  font-family: Poppins;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-right: 69px;
}

.skill-icon {
  width: 48px;
  height: 48px;
  margin-right: 32px;
  flex-shrink: 0;
  margin-right: 32px;
}

/* PROEJCTS */
.projects {
  margin-top: 220px;
}

.project-header {
  text-align: center;

  color: #000;
  font-family: Poppins;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.development {
  margin: 0 128px;
  margin-top: 48px;
}

.project-title {
  color: #000;
  font-family: Poppins;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.project-cards {
  margin-top: 12px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

/* CARD */
.card {
  max-width: 341px;
  min-height: 407px;
}

.card-img {
  width: 341px;
  height: 223px;
  flex-shrink: 0;

  border: 5px solid black;
  border-radius: 10px;
}

.img {
  width: 341px;
  height: 223px;
  flex-shrink: 0;
  border-radius: 5px;
}

.card-name {
  color: #000;
  font-family: Poppins;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 100%; /* 24px */
}

.tech {
  color: #000;
  font-family: Poppins;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 100%; /* 24px */
}

.card-tech {
  color: #000;
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%; /* 21.6px */
  margin-bottom: 40px;
}

.card-btn-link {
  margin-right: 22px;
  padding: 15px;
  background-color: #000;

  width: fit-content;
  border: 1px solid black;
  border-radius: 5px;

  text-decoration: none;
  color: #fff;
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 100%; /* 18px */
}

.card-btn-github {
  margin-right: 22px;
  padding: 15px;

  width: fit-content;
  border: 2px solid black;
  border-radius: 5px;

  text-decoration: none;
  color: #000;
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 100%; /* 18px */
}
